h1 {
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #4aaaa5;
	font-size: 2.0em;
}

body {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	background-image: url('../images/whirlpool.png');
	color: #777777;
}

footer {
	background-color: #666666;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-top: 10px solid #4aaaa5;
}

hr {
	margin-bottom: 20px;
}

input, textarea {
	width: 98%;
	margin: 5px 0;
}

ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    float:right;
}

li {
    float: left;
}

li a {
    display: block;
    color: #cccccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #4aaaa5;
}

.content-all {
	width: 960px;
	margin: 100px auto;
	background-color: transparent;
}

.content-main {
	width: 650px;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	display: inline-block;
	padding: 15px;
	box-sizing: border-box;
}

.icon {
	width: 75px;
}

.content-sidebar {
	width: 270px;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	display: inline-block;
	box-sizing: border-box;
	float: right;
	padding: 15px;
}

.logo {
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 25px;
	padding: 20px;
	position: absolute;
	bottom: 0;
}

.navbar {
	background-color: #ffffff;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 2px solid #cccccc;
	height: 80px;
}

.navbar-main {
	width: 960px;
	margin: 0 auto;
	background-color: red;
}

.portfolio-img {
	width: 290px;
}

.portfolio-img-div {
	background-color: red;
}

.img-left {
	margin-right: 31px;
}

.row {
	margin: 10px 0;
}

#profile-picture {
	width: 300px;
	margin: 0 15px 15px 0;
	float: left;
}

#submitButton {
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 15px;
	padding: 10px;
	border: 0;
	width: 100px;


}